/* imports the keyboard styling */
@import './keyboard.css';
/* imports a custom framework made in a previous project from jsDelivr */
@import url(https://cdn.jsdelivr.net/gh/ktortolini/stu-side-project-01@main/assets/css/bitkit.min.css);

@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	div#preloader img {
		display: block;
	}
}

@media print {
	div#preloader,
	div#preloader img {
		visibility: hidden;
		display: none;
	}
}

/* the clearing animation */
@keyframes clearAnimation {
	0% {
		/* leave this empty */
	}
	100% {
		color: var(--default-text-color);
		background-color: transparent;
		border-color: transparent;
	}
}

:root {
	--green-color: hsl(76.1, 50%, 67.8%);
}

body {
	margin: 0 auto !important;
	background-color: var(--green-color);
}

/* selector for repo link */
a {
	display: block;
	font-size: 1ch;
	text-align: center;
}

note {
	width: 100%;
	justify-content: space-around;
}

article {
	width: 100%;
}

.grid {
	grid-template-rows: repeat(1, 1fr) !important;
	grid-template-columns: repeat(3, 1fr) !important;
}

.grid-item-name-1 {
	grid-row: 1;
	grid-column: 1;
}

.grid-item-num-1 {
	grid-row: 1;
	grid-column: 2;
}

.grid-item-score-1 {
	grid-row: 1;
	grid-column: 3;
}

.grid-item-name-2 {
	grid-row: 2;
	grid-column: 1;
}

.grid-item-num-2 {
	grid-row: 2;
	grid-column: 2;
}

.grid-item-score-2 {
	grid-row: 2;
	grid-column: 3;
}

.grid-item-name-3 {
	grid-row: 3;
	grid-column: 1;
}

.grid-item-num-3 {
	grid-row: 3;
	grid-column: 2;
}

.grid-item-score-3 {
	grid-row: 3;
	grid-column: 3;
}

.t-row {
	margin: 0 !important;
	height: 35px !important;
	text-align: center !important;
	font-size: 1.2rem !important;
}

.i-row {
	/* changes the border sizing */
	border-width: 14px !important;
	border-image-slice: 5 !important;
}

.gold {
	background-color: hsla(50.6, 100%, 50%, 0.35) !important;
}

.silver {
	background-color: hsla(0, 0%, 75.3%, 0.35) !important;
}

.bronze {
	background-color: hsla(0, 59.4%, 40.6%, 0.35) !important;
}

/* todo: add to bitkit */
.position {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-65%, -50%);
}

/* todo: add to bitkit */
.keyboard-grid {
	/* setting up the grid */
	outline: none;
	display: grid;
	grid-gap: 0px;
	/* setting width and height */
	transform: scale(2);
	/* setting up the columns and the rows */
	grid-template-rows: repeat(5, 16px); /* 5 rows, height of 16px */
	grid-template-columns: repeat(30, 8px); /* 30 columns, width of 8px */
}
